table, tr, td { margin: 0; padding: 0; font-size: 12px; }
body { margin: 0; padding: 0; font-size: 12px; background: url(../images/admin_images/body_bg.gif) #eef2fb repeat-y right; }
a { font-size: 12px; line-height: 25px; color: #333333; text-decoration: none; }
a:hover { font-size: 12px; line-height: 25px; color: Red; text-decoration: underline; }

.left_topbg { background-image: url(../images/admin_images/content-bg.gif); background-repeat: repeat-x; }
.left_txt2 { font-family: "宋体"; font-size: 12px; line-height: 30px; height: 30px; color: #000000; padding-left: 50px; width: 15%; }
.td_left { font-family: "宋体"; font-size: 12px; line-height: 30px; height: 30px; color: #000000; padding-left: 50px; width: 15%; }
.td_left_color { font-family: "宋体"; font-size: 12px; line-height: 30px; height: 30px; color: #000000; padding-left: 50px; width: 15%; background-color: #f2f2f2; }
.td_right { font-family: "宋体"; font-size: 12px; line-height: 30px; height: 30px; color: #000000; text-align: left; width: 85%; }
.td_right_color { font-family: "宋体"; font-size: 12px; line-height: 30px; height: 30px; color: #000000; text-align: left; width: 85%; background-color: #f2f2f2; }
.left_txt { font-family: "宋体"; font-size: 12px; line-height: 30px; height: 30px; color: #666666; }
.nowtable { background-color: #e1e5ee; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-top-color: #bfc4ca; border-right-color: #bfc4ca; border-bottom-color: #bfc4ca; border-left-color: #bfc4ca; }
.red { color: #F00; }
.News { padding: 0px; width: 60px; height: 35px; }

.News img { max-width: 60px; max-height: 45px; width: expression(this.width >60 && this.height < this.width ? 60: true); height: expression(this.height > 45 ? 45: true); }

.News2 img { max-width: 120px; max-height: 90px; width: expression(this.width >120 && this.height < this.width ? 120: true); height: expression(this.height > 90 ? 90: true); }

.BackGround img { max-width: 60px; max-height: 45px; width: expression(this.width >60 && this.height < this.width ? 60: true); height: expression(this.height > 45 ? 45: true); }


.titlebt { font-size: 12px; line-height: 26px; font-weight: bold; color: #000000; background: url(../images/admin_images/top_bt.jpg) no-repeat; display: block; padding-top: 5px; width: 85px; height: 26px; text-align: center; }

.titlebt2 { font-size: 12px; line-height: 26px; font-weight: bold; color: #000000; background: url(../images/admin_images/yycenter.png) repeat-x; display: block; padding-top: 5px; height: 26px; text-align: left; padding-left: 0px; padding-right: 0px; float: left; }
.title_left { width: 11px; background: url(../images/admin_images/yyleft.png) no-repeat; float: left; height: 26px; padding-top: 5px; }
.title_right { width: 11px; background: url(../images/admin_images/yyright.png) no-repeat; float: left; height: 26px; padding-top: 5px; }
.button { cursor: pointer; }
input:button { cursor: pointer; }
#btnSave { cursor: pointer; }


.btnUpdate2018{ cursor: pointer; }
