.news, .pic, .download, .contact, .message {display:none}
#RadioNews, #RadioPic, #RadioDownLoad, #RadioContact, #RadioMessage {float:left;}
.yulan {line-height: 35px;margin-left: 50px;color: blue;font-size: 15px;cursor: pointer;}
.file {position: relative;display: inline-block;background: #00c1de;border: 0px solid #99D3F5;padding: 4px 12px;overflow: hidden;color: #fff;text-decoration: none;text-indent: 0;line-height: 20px;cursor: pointer;margin: 10px 0;}
.file input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;cursor: pointer;}
.file:hover {background: #0fb6cf;color: #fff;text-decoration: none;}
.upload_img {width: 92px;height: 92px;margin: 10px 10px 10px 0;}

ul,li{ margin:0; padding:0;list-style:none;text-decoration:none;border:0; list-style:none;}
#upStrInfoImagesDiv{overflow:hidden;}
#upStrInfoImagesDiv ul{ overflow:hidden;}
#upStrInfoImagesDiv ul li{ float:left; width:92px; position:relative;}
#upStrInfoImagesDiv ul li img{ width:92px; height:92px;}
#upStrInfoImagesDiv ul li .del{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9; background:rgba(0,0,0,0.5); display:none;}
#upStrInfoImagesDiv ul li .del i{ display:block; width:60px; height:24px; line-height:24px; margin:0 auto; border:1px solid #fff; border-radius:2px;color:#fff; font-style:normal;text-align:center; margin-top:33px;cursor:pointer}
#upStrInfoImagesDiv ul li:hover .del{ display:block;}

